@use 'base/variables' as v;
@use 'base/mixins' as m;

.crear {
margin-top: 5rem;

    .uptask {
        background: linear-gradient(to right, v.$cyan 0%, lighten(v.$cyan, 50%) 100%);
        color: transparent;
        background-clip: text;
        font-size: 7rem;
        text-align: center;

        @include m.tablet {
            font-size: 10rem;
        }
    }
}